/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}

/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

@font-face {
    font-family: 'YanoneKaffeesatzLight';
    src: url('../fonts/YanoneKaffeesatz-Light-webfont.eot');
    src: url('../fonts/YanoneKaffeesatz-Light-webfont.eot?iefix') format('eot'), url('../fonts/YanoneKaffeesatz-Light-webfont.woff') format('woff'), url('../fonts/YanoneKaffeesatz-Light-webfont.ttf') format('truetype'), url('../fonts/YanoneKaffeesatz-Light-webfont.svg#webfontZam02nTh') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YanoneKaffeesatzRegular';
    src: url('../fonts/YanoneKaffeesatz-Regular-webfont.eot');
    src: url('../fonts/YanoneKaffeesatz-Regular-webfont.eot?iefix') format('eot'), url('../fonts/YanoneKaffeesatz-Regular-webfont.woff') format('woff'), url('../fonts/YanoneKaffeesatz-Regular-webfont.ttf') format('truetype'), url('../fonts/YanoneKaffeesatz-Regular-webfont.svg#webfontZam02nTh') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('../fonts/websymbols-regular-webfont.eot');
    src: url('../fonts/websymbols-regular-webfont.eot?iefix') format('eot'), url('../fonts/websymbols-regular-webfont.woff') format('woff'), url('../fonts/websymbols-regular-webfont.ttf') format('truetype'), url('../fonts/websymbols-regular-webfont.svg#webfontZam02nTh') format('svg');
    font-weight: normal;
    font-style: normal;
}


h5 {
    text-transform: uppercase;
}

.button {
    font-size: 11px;
    line-height: 36px;
}


/* ---------------- COLORS ---------------- */
.main-navigation ul li a {
    color: #c2c3c8;
}

.main-navigation ul li a:hover {
    color: white;
}

.main-navigation ul li ul {
    border-bottom: 1px solid #3c3f42;
}


.main-navigation ul li ul li a {
    background: #171819;
    border: 1px solid #3c3f42;
    border-bottom: none;
}




/* -----------------  TOP  ----------------- */
.top-stripe {
    background: #2e3235 url('../images/top-dark-bg.jpg') left top;
    padding: 18px 0;
}

.logo a {
    background: transparent url('../images/logo.png') no-repeat left center;
    display: block;
    height: 36px;

    font: 0/0 a;
    text-shadow: none;
    color: transparent;
}

.main-navigation  ul > li {
    float: left;
    list-style-type: none;
    position: relative;
}

.main-navigation ul li a {
    height: 36px;
    line-height: 36px;
    display: inline-block;
}

.main-navigation ul li ul {
    position: absolute;
    z-index: 999999;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 0;
    overflow: hidden;
}

.main-navigation ul li ul li {
    widows: 100%;
}

.main-navigation ul li ul li a {
    display: block;
    white-space: nowrap;
    padding: 0 18px;
}

